<html>
    <head>
      <link rel="stylesheet" type="text/css" href="assets/mystyle.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="assets/client.bundle.js"></script>
    </head>
    <body>
        <h1 class="section">
          <a href="http://localhost:3000/index">Sebs Bootstrap</a>
        </h1>
        <div class="section">
        	<div class="menuColumn">
        	   <a href="http://localhost:3000/about">About</a>
        	</div>
          <div class="menuColumn">
        	   <a href="http://localhost:3000/weather">Weather</a>
        	</div>
        	<div class="menuColumn">
            <a href="http://localhost:3000/cheese">Cheese</a>
        	</div>
        	<div class="menuColumn">
        	   <a href="http://localhost:3000/music">Music</a>
        	</div>
        </div>
        {{{ body }}}
    </body>
</html>
