<html>
    <head>
      <link rel="stylesheet" type="text/css" href="assets/mystyle.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script type="text/javascript" src="assets/jquery.js"></script>
    </head>

    <body>
        <h1><a href="http://localhost:3000/index">Sebs Bootstrap</a></h1>

        <div class="section group">
        	<div class="col span_1_of_4">
        	   <a href="http://localhost:3000/about">About Seb</a>
        	</div>
          <div class="col span_1_of_4">
        	   <a href="http://localhost:3000/weather">Weather</a>
        	</div>
        	<div class="col span_1_of_4">
            <a href="http://localhost:3000/cheese">Cheese</a>
        	</div>
        	<div class="col span_1_of_4">
        	   <a href="http://localhost:3000/music">Music</a>
        	</div>
        </div>

        <div>
          <button>Click me</button>
        </div>

        {{{ body }}}
    </body>

</html>
