<div class="title">
  {{ title }}
</div>
<div>
  <img src="https://scontent.cdninstagram.com/t51.2885-15/e35/14334629_1779645842312104_1703368655_n.jpg?ig_cache_key=MTMzODUwMzA1NjYwOTkwMTkxMA%3D%3D.2" style="width:50%"></img>
</div>
