<div>
  {{ title }}
</div>
<div>
  <img src="http://previews.123rf.com/images/mkistryn/mkistryn1201/mkistryn120100050/12048345-collage-with-regional-italian-french-and-polish-cheese-on-food-fairs-in-Italy-Poland-and-France-Stock-Photo.jpg" style="width:70%"></img>
</div>
