<div class="title">
  {{ title }}
</div>
<div>
  <audio controls>
    <source src="/assets/audio/watchtower.mp3" type="audio/mpeg">
  </audio>
</div>
<div>
  ♬ All Along The Watchtower <em>by</em> Jimi Hendrix
</div>
<div>
  <img class="mySlides w3-animate-left" src="/assets/images/abbey_road.jpg">
  <img class="mySlides" src="/assets/images/am.png">
  <img class="mySlides" src="/assets/images/awesome_wave.png">
  <img class="mySlides" src="/assets/images/demon_days.png">
</div>
