<div class="title">
  {{ title }}
</div>
<div>
  <audio controls>
    <source src="/assets/audio/watchtower.mp3" type="audio/mpeg">
  </audio>
</div>
<div>
  ♬ All Along The Watchtower <em>by</em> Jimi Hendrix
</div>
<div>
  <img src="https://stubwah1.files.wordpress.com/2012/09/mike-birthday2.jpg" style="width:60%"></img>
</div>
