/*section set up*/
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: 'Avenir Next W02','avenir next',sans-serif;
  background-color: #7fa5e2;
  border-radius: 8px; }

/*menuColumn set up*/
.menuColumn {
  display: block;
  float: left;
  margin: 1% 0% 1% 1.2%;
  background-color: #7fa5e2;
  border-radius: 8px;
  width: 24.1%; }

/*allows menu bar to use full width*/
.menuColumn:first-child {
  margin-left: 0; }

/*each column goes full width below 480px*/
@media only screen and (max-width: 480px) {
  .menuColumn {
    margin: 1% 0 1% 0%;
    width: 100%; } }

/*style title, paragraph and header 2 text*/
.title, p, h2 {
  font-family: 'Avenir Next W02','avenir next',sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin: 1.5%; }

/*style header 2 font size*/
h2 {
  font-size: 2em; }

/*style links*/
a {
  color: white;
  text-decoration: none;
  font-size: 2em; }

/*style images*/
img, #weatherSearch, #searchButton {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#weatherSearch {
  width: 300px;
  height: 40px;
  font-size: 1.5em;
  padding: 10px;
  border: 2px solid #7fa5e2;
  border-radius: 3px; }

#searchButton {
  width: 100px;
  font-size: 2em;
  margin-top: 1%; }

table, iframe {
  font-family: 'Avenir Next W02','avenir next',sans-serif;
  font-size: 1.5em;
  text-align: center; }

/*cheeseColumn set up*/
.cheeseColumn {
  display: block;
  float: left;
  margin: 1% 0% 1% 2%;
  width: 32%; }

/*allows menu bar to use full width*/
.cheeseColumn:first-child {
  margin-left: 0; }

/*each column goes full width below 480px*/
@media only screen and (max-width: 480px) {
  .cheeseColumn {
    margin: 1% 0 1% 0%;
    width: 100%; } }

/*weatherColumn set up*/
.weatherColumn {
  display: block;
  float: left;
  margin: 1% 5% 1% 0%;
  width: 45%; }

/*allows menu bar to use full width*/
.weatherColumn:first-child {
  margin-left: 0; }

/*each column goes full width below 480px*/
@media only screen and (max-width: 480px) {
  .weatherColumn {
    margin: 1% 0 1% 0%;
    width: 100%; } }

.mySlides {
  width: 30%; }
